.container {
    width: 50vw;
    min-height: 70vh;
    margin: 15vh auto;
}

.ex-button {
    display: flex;
    min-height: calc(70vh * 0.5);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ex-button h2 {
    font-size: 3em;
}

#exercise_1 {
    background-color: #aecafd;
}

#exercise_2 {
    background-color: hsl(59, 95%, 84%);
}

.ex2-content {
    position: relative;
}

input {
    outline: none;
}

#price-txt {
    position: absolute;
    bottom: 23px;
}

#price-error {
    position: absolute;
    left: 0;
    top: 23px;
}

#reset {
    position: absolute;
    left: 180px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none;
}

.error {
    outline: 3px solid red;
}

.valid {
    outline: 3px solid green;
}

.green-font {
    color: green;
}